# Project exclude paths
/.gradle/
/2. Procesos. Conceptos teóricos/Actividad resuelta 1.1/out/
/2. Procesos. Conceptos teóricos/Actividad resuelta 1.1/out/production/classes/
/2. Procesos. Conceptos teóricos/Ejemplo de sincronización/out/
/2. Procesos. Conceptos teóricos/Ejemplo de sincronización/out/production/classes/